.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content {
  max-width: 1200px;
  flex-basis: 100%;
  margin: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0 calc((100vw - 1200px)/2);
  background-color: teal;
  height: 50px;


  button {
    display: inline-block;
    background-color: transparent;
    border: none;
    padding-left: 10px;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 600;


      span {
        padding-right: 10px;
      }

    }
  }

  .nav__links {
    display: flex;
    align-items: center;
    padding-right: 5%;
    margin-left: auto;
    // width: 20%;
    height: 100%;

    a {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 1rem;
      color: #fff;
      text-decoration: none;
      transition: 0.3s;
      font-size: 30px;

      &:hover {
        color: #444;
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: white;
  }
}