nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: teal;
  height: 50px;
  // padding: 0 5%;

  button {
    // padding-left: 5%;
    background-color: transparent;
    border: none;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 600;


    }
  }

  .nav__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: 100%;

    a {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 1rem;
      color: #fff;
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        color: #444;
      }
    }
  }
}