select {
  width: 200px;
  height: 30px;


  option {
    height: 40px;
    color: tear;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "select content";
  margin: 0 auto;
  overflow: hidden;
  place-content: space-between;

  @media (max-width:600px) {
    grid-template-columns: 1fr;
    grid-template-areas: "select "
      "content";
  }
}

.select__wrapper {
  grid-area: select;

  label {
    display: inline-block;
    line-height: 100%;
    margin: 0 10px;

    @media (max-width:600px) {
      margin-left: 0;
    }
  }

  @media (max-width:600px) {
    display: flex;
    align-items: center;
  }
}

.content__wrapper {
  grid-area: content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


  .title {
    display: flex;
    justify-content: center;
    flex-basis: 100%;

    h4 {
      display: inline-block;
      width: 80%;
      text-align: center;
      text-transform: capitalize;
      color: teal;
    }

    i {
      display: inline-block;
      width: 10%;
    }
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: tear;

    i {
      font-size: 30px;
      color: tear;
    }
  }

  .content__description {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 100%;

    a {
      color: tear;
      text-transform: capitalize;
      text-decoration: none;
      color: teal;

      &:hover {
        color: lighten(teal, 10%);
      }
    }
  }
}

.dog {
  flex: 1;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 500px;

  i {
    display: inline-block;
    position: absolute;
    top: 3%;
    right: 3%;
    color: teal;
    font-size: 40px;
    cursor: pointer;
    z-index: 999;
    padding: 10px;
    transform: color 0.3s;

    &:hover {
      color: #444;
    }
  }
}

.dog__background {
  position: absolute;
  top: 0;
  left: 0;

  width: 80%;
  height: 80%;

  margin: -5%;

  background-size: cover;

  padding: 10px;

  filter: blur(10px);


}

.dog__image {
  position: relative;
  z-index: 2;

  img {
    width: 100%;
    max-height: 100%;
  }


}