.onefav__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 320px;
  max-height: 250px;
  // border: 1px solid #444;
  // border-radius: 10px;
  // margin: 20px;

  .image {
    width: calc(1 * 300px);
    height: calc(0.8 * 250px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: 80%;
      max-width: 200px;
      max-height: 200px;
    }
  }

  span {
    text-align: center;
    flex-basis: 100%;

    a {
      display: inline-block;
      padding-top: 10px;
      width: 100%;
      color: teal;
      text-decoration: none;
      text-transform: capitalize;
    }
  }
}